@font-face {
    font-family: 'ColinSamuelsW00Bold';
    src: url('../ColinSamuelsW00Bold.ttf'); 
  }
  
  @font-face {
    font-family: 'ColinSamuelsW00Regular';
    src: url('../ColinSamuelsW00Regular.ttf'); 
  }


#pag1{
    padding-top: 15vh;
    height: 100vh;
 
}

.boton-barra-menu{
  max-height: 100px;
}

#pag_carta_order{
  height:100vh;
}

.plate-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    gap:2vw;
}

@media screen and (max-width: 768px) {
    .plate-container {
        gap : 0;
    }
  
}

.add-plate,
.remove-plate {
    padding: 1vmin 2vmin;
    font-family: 'ColinSamuelsW00Bold', sans-serif;
    font-weight: 900;
    font-size: 3vmin;
}

.selected-product {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.selected-product img {
    aspect-ratio: 1;
    width: 3vw;
    object-fit: cover; /* Ensure the image covers the entire box without stretching */
    margin-right: 2vw;
}


.selected-product p {
    margin: 0;
    color: white;
}

.bolsa-productos {
    display: flex;
    align-items: end;
    gap: 0px;
    margin-left: auto; /* Try adding a margin-left to move it to the right */
}

.numero-productos {
    color: #fff;
    margin-top: 10px;
    white-space: nowrap;
    font: 'ColinSamuelsW00Regular', sans-serif;
    font-size: max(10px, 1vw); /* Set font size to 1vw or a minimum of 30px */
    width: 3vw;
}

.bolsa-img {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    overflow: hidden;
    max-height: 65px;;
}


.meter {
    margin: 0 5vw;
    box-sizing: content-box;
    height: 2vh; /* Can be anything */
    position: relative;
    background: #555;
    border-radius: 25px;
    padding: 10px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  }


  .meter > span {

    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(43, 194, 83);
    background-image: linear-gradient(
      center bottom,
      rgb(43, 194, 83) 37%,
      rgb(84, 240, 84) 69%
    );
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
      inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
  }
  .meter > span:after,
  .animate > span > span {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(
      -45deg,
      rgba(255, 255, 255, 0.2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.2) 75%,
      transparent 75%,
      transparent
    );
    z-index: 1;
    background-size: 50px 50px;
    animation: move 2s linear infinite;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
  }
  
  .animate > span:after {
    display: none;
  }
  
  @keyframes move {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 50px 50px;
    }
  }
  
  .orange > span {
    background-image: linear-gradient(#f1a165, #f36d0a);
  }
  
  .red > span {
    background-image: linear-gradient(#f0a3a3, #f42323);
  }

  .brown > span {
    background-image: linear-gradient(#8B4513, #A52A2A);
}
  
  .nostripes > span > span,
  .nostripes > span::after {
    background-image: none;
  }
  
  #page-wrap {
    width: 490px;
    margin: 80px auto;
  }

  


  #music-bar {
    /* Remove background color */
    background: none;
    box-shadow: none;
    width:40%;
    margin: 0;
}

#music-bar > span {
    /* Set progress bar color to black */
    height: 1vh;
    background-color: #000;
    background-image: none; /* Remove gradient if any */
    border-top-right-radius: 4px; /* Adjust border radii */
    border-bottom-right-radius: 4px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative; /* Add relative positioning for the :before pseudo-element */
    overflow: visible !important;
}

#music-bar > span:before {
    /* Replace the circular element with a burguer.svg icon */
    content: url('../images/burger.svg'); /* Provide the correct path to your SVG */
    position: absolute;
    top: 50%; /* Center vertically */
    right: -6px; /* Adjust the distance from the end */
    transform: translateY(-50%); /* Center vertically */
    width: 4vh; /* Adjust the width if needed */
}


#paso-3{
    display: none;
    flex-direction: column;
}




#paso-3 > h2{
    font-size: 7vmin;
    padding:2vmin;
}

 #paso-3 > img {
    width: 40%;
 }

 #funko-img {
    width: 20% !important;
 }



#progress-order {
  display: block;
}

 
#info-pago{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#resumen-pago{
  display: flex;
  flex-direction: row;
}

#go-back-to-opciones-pago{
  min-width: 20px;
    max-width: 40px; /* Adjust the size of the image as needed */
    max-height: 40px;
    height: 5vmin;
    width: 5vmin;
    cursor: pointer;
}

#datos-pago {
  border: 1px solid black; /* Set border to 1px solid black */
  padding: 10px; /* Optional: Add padding for better visual appearance */
}

#opciones-pago{
  display:none;
}

#login-pedido-form{
  display: 	none;
}
