@font-face {
  font-family: 'ColinSamuelsW00Bold';
  src: url('../ColinSamuelsW00Bold.ttf'); 
}

@font-face {
  font-family: 'ColinSamuelsW00Regular';
  src: url('../ColinSamuelsW00Regular.ttf'); 
}

@font-face {
  font-family: 'ColinSamuelsW00Thin';
  src: url('../ColinSamuelsW00Thin.ttf');
}


*{
    margin: 0;/*externo al bloque*/
    padding: 0;/*interno al bloque (mueve el contenido (puede hacer crecer el elemento))*/
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*clase general para el body.*/
body{
    background-color: #C1A88C;
    font-family: 'ColinSamuelsW00Bold', sans-serif;
    
}

button{
  cursor: pointer;
}

/*clase general para los enlaces*/
a{
  text-decoration: none;  
  
}

/*clase general para los párrafos*/
p {
  font-size: 1em;
  font-family: 'ColinSamuelsW00Regular','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-block-start: 5vw;
  padding: 10px;
  color:#442414;
}

button {
 font-family: 'ColinSamuelsW00Regular','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
  color: #C1A88C;
}

#paso-3 > h2{
  font-size: 8vmin;
}

h3{
  font-size:calc(14px + 1.5vw);
  color:#30190e;

}

.contact-info{
  /*PRUEBA*/
  width:90%;
}

/*Clase de uso global para alinear en el centro el contenido del bloque en el que esté*/
.align-center{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
}

/* TEXTOS */
.description{
  display: none;
}

/* HEADER */
.header-book-table {
  position:fixed;
  width: 100vw;
  background: linear-gradient(0deg, #C1A88C 0%, #e7a66f 100%), #be7110;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset,
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 9px 20px 9px 20px;
}
@media (max-width: 991px) {
  .header-book-table {
    flex-wrap: wrap;
    padding-right: 20px;
  }
}
.burger-menu-icon {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991px) {
  .burger-menu-icon {
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.burger-icon-book-table {
  aspect-ratio: 1.56;
  object-fit: contain;
  object-position: center;
  width: 103px;
  overflow: hidden;
  align-self: stretch;
  max-width: 100%;
  cursor: pointer;
}

.header-book-table form {
  gap: 2.5vw;
  width: 100%;
}



.header-book-table input{
  color: var(--White, #fff);
  text-transform: capitalize;
  white-space: nowrap;
  align-items: start;
  background-color: #373737;
  align-self: center;
  justify-content: center;
  margin: auto 0;
  padding: 2vh 1.2vw 2vh 1.2vw;
  font: 400 2vmin Inter, sans-serif;
  width: 8vw;
  min-width: 90px;
  font-family: 'ColinSamuelsW00Regular', sans-serif;
}

#address{
  width: 16vw;
  min-width: 185px;
}

#comensales{
  min-width: 145px;
}

#current_date{
  width: 14vw;
  min-width: 160px;
}

#address::placeholder,
#current_date::placeholder,
#hour::placeholder,
#comensales::placeholder {
  color: rgba(255, 255, 255, 0.578);
}

.triangulo-book-table {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 17px;
  fill: #c55000;
  overflow: hidden;
  max-width: 100%;
  justify-content: center;
  align-self: center;
  cursor: pointer;
}

.personas-text-book-table {
  color: var(--White, #fff);
  text-transform: capitalize;
  flex-grow: 1;
  white-space: nowrap;
  font: 400 14px Inter, sans-serif;
}
@media (max-width: 991px) {
  .personas-text-book-table {
    white-space: initial;
  }
}

.user-icon-book-table {
  aspect-ratio: 1.02;
  object-fit: contain;
  object-position: center;
  width: 60px;
  overflow: hidden;
  align-self: center;
  max-width: 100%;
  margin: auto 0;
  cursor: pointer;
}

/*DROPDOWN OF HOURS*/
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #C1A88C;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border: 2px solid #000000;
  border-radius: 10px;
  z-index: 1;
}

.time-option {
  padding: 12px;
  cursor: pointer;
}




/* LOG IN SIGNUP POPUP */
#left-side-popup{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
  gap: 10vh;
}

#left-side-popup2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
  gap: 10vh;
}


.social-images-icons {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  padding: 0 20px;
}
@media (max-width: 991px) {
  .social-images-icons {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.icon-login {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 54px;
  fill: #c55000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  overflow: hidden;
  align-self: stretch;
  max-width: 100%;
}
#twitter-icon-login {
  aspect-ratio: 1.23;
  object-fit: contain;
  object-position: center;
  width: 54px;
  fill: #c55000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  overflow: hidden;
  align-self: center;
  max-width: 100%;
  margin: auto 0;
}

#twitter-icon-login2 {
  aspect-ratio: 1.23;
  object-fit: contain;
  object-position: center;
  width: 54px;
  fill: #c55000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  overflow: hidden;
  align-self: center;
  max-width: 100%;
  margin: auto 0;
}

#pag1-landing{
  display: flex;
  flex-direction: row;
  background-image: url("../images/muro.png");
  background-repeat: no-repeat;
  background-size: cover;
}
video {
  width: 80vmin;
  display: block;
  align-content: center;
}


@media screen and (max-width: 767px) {
  #pag1-landing{
    flex-direction: column;
  }
  video {
    width: 50vmin;
    display: block;
    align-content: center;
}
  
  
}

.wheel{
  width: 40vmin;
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  margin-top: -10vh;
  animation: rotateAnimation 4s linear infinite; /* Adjust the duration and timing function as needed */
  cursor: pointer;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#popup-overlay{
  display: none;
}

#lottie-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.popup-login{
  display: flex;
  flex-direction: column;
  fill: #ffeadb;
  stroke-width: 5px;
  stroke: #000;
  overflow: hidden;
  position: relative;
  display: flex;
  min-height: 705px;
  padding: 23px 36px 39px 80px;
}
@media (max-width: 991px) {
  .popup-login {
    padding: 0 20px;
  }
}

.titulo-popup-login {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991px) {
  .titulo-popup-login {
    max-width: 100%;
    flex-wrap: wrap;
  }
}
.close-popup-login {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100px;
  overflow: hidden;
  align-self: stretch;
  max-width: 10vw;
  cursor: pointer;
}
.email-popup-login {
  position: relative;
  color: #000;
  max-width: 358px;
  margin: 39px 0 0 14px;
  font: 700 22px 'ColinSamuelsW00Bold', -apple-system, Roboto, Helvetica,
    sans-serif;
}

#popup-overlay2{
  display: none;
}


@media (max-width: 991px) {
  .email-popup-login {
    max-width: 100%;
  }
}
.password-popup-login {
  position: relative;
  color: #000;
  width: 310px;
  margin: 6px 0 0 14px;
  font: 700 22px 'ColinSamuelsW00Bold', -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .password-popup-login {
    max-width: 100%;
  }
}
.signup-popup-login{
  position: relative;
  color: #000;
  width: 656px;
  margin: 6px 0 0 14px;
  font: 700 22px 'ColinSamuelsW00Bold', -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .signup-popup-login {
    max-width: 100%;
  }
}
.login-popup-login {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  color: #000;
  text-align: center;
  fill: #ffd8ab;
  stroke-width: 1px;
  stroke: #000;
  overflow: hidden;
  align-self: center;
  aspect-ratio: 6.114754098360656;
  margin-top: 32px;
  padding: 17px 44px;
  font: 700 32px 'ColinSamuelsW00Bold', -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .login-popup-login {
    padding: 0 20px;
  }
}

/* NEW LANDING PAGE */


/* CONTAINERS */
.menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3vh;
}

.menu_novedad{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3vh;
}

.menu_carta_completa{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3vh;
}

/* LINKS */
.box{
	overflow:hidden;
  /*Radio del contenedor de un elemento*/
	-webkit-border-radius: 10px;
  border-radius: 10px;
  /*Primer valor es cuanto se mueve las sombra en horizontal, el segundo en vertical y el tercer valor
  es la opacidad de la sombra, a menor valor, más opaca*/
  box-shadow: 3px 5px 15px black;
}

#reservar-mesa > input, #hour, #comensales, #current_date{
  overflow:hidden;
  /*Radio del contenedor de un elemento*/
	-webkit-border-radius: 10px;
  border-radius: 10px;
}


/*clase para el contenedor de links de la primera página*/
.flex-container{
  padding-top: 1vh;
}
/*comportamiento de los divs en clase flex-container*/
.flex-container > div {
    background-color: #773E22;
    text-align: center;
    line-height: 2.8em;
    font-size: 1.4em;
    margin-inline:1px;
    min-width: 80px;
    width:30vw;
}

.box > a {
  color: #C1A88C;
  font-size: 4.5vw;
}


/*Comportamiento general de las fotos en las galerías*/
.photo {
  margin: 10px;
  border: 3px solid rgb(255, 255, 255);
  min-width: 100px;
  max-width: 150px;
  width:28vw;
  object-fit: cover;
  aspect-ratio: 1/1; /* Formato cuadrado */
}
#pag3{
  padding-bottom: 5vh;
}

/*Comportamiento de las fotos en la página 3 (distinto ya que metemos muchas menos fotos)*/
#pag3 .photo {
  /* Your styles for .photo inside #pag3 and .galeria-1 go here */
  border: 3px solid white;
  min-width: 50px;
  width:45vw;
  max-width: 230px;
  
}

/*Clase especial para los títulos de las páginas*/
.title{
  margin: auto;
  font-size: 7vh;
}

.main-title{
  margin-top:4vh;
  font-size: 15vmin;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  -webkit-text-stroke-width: 4.00px; 
}

.and{
  -webkit-text-fill-color: #FFD8AB;
}

.main-text{
  font-size: 6vmin;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  -webkit-text-stroke-width: 1.50px; 
  font-weight: 900;
  padding-bottom: 4vh;

}



.buttons-landing{
  display: flex;
  flex-direction: row;
  gap:10vw;
  
}

.flex-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
}



#fork-knife-landing{
  padding-left:1vw;
  height: 5vmin;
  width: 2vw;
}


.boton-inicio > p{
  color: #C1A88C
}

#landing-page-left{
  align-items: normal;
  padding-left:3vw;
}

/*Id especial para el video de la primera página*/

.video_container{
  padding-top:6vh;
  margin:auto;
  padding-bottom: 6vh;
}

#image_1{
  display: flex;
  margin:auto;
  min-width: 150px;
  max-width: 450px;
  width:15vw;
  object-fit: cover;
  aspect-ratio: 1/1; /* Formato cuadrado */

}

/*Clase general para cualquier página*/
.pagina {
    height:100%;
    overflow: hidden;
    padding-top: 10vh;
}

.order_page {
  height:100vh;
}





/* FOTOS */
.main-image{
  margin:auto;
  display:flex;
  flex-direction:column;
  padding-top: 12vh;
}

/*Forma que tiene el contenedor de todas las imágenes*/
.galeria-1 {
  display: flex;
  flex-grow: 1;
  background-color: #773E22;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}



[class*="col-"] {
float: left;
}


/* FOOTER FIGMA */
.footer-main {
  overflow: hidden;
  padding: 46px 49px;
  background-image: url("../images/footer-bg.png");

  background-size: cover;
}
@media (max-width: 991px) {
  .footer-main {
    padding: 0 20px;
  }
}
.footer-grid {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .footer-grid {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 42%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}
.resumen-footer {
  display: flex;
  flex-direction: column;
  align-items: start;
}
@media (max-width: 991px) {
  .resumen-footer {
    max-width: 100%;
    margin-top: 40px;
  }
}
.rockfork-footer {
  display: flex;
  gap: 10px;
}
.logo-footer {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 60px;
  overflow: hidden;
  max-width: 100%;
}
.rockfork-text-footer {
  color: #fff;
  align-self: center;
  flex-grow: 1;
  white-space: nowrap;
  margin: auto 0;
  font: 400 35px 'ColinSamuelsW00Bold', sans-serif;
}
@media (max-width: 991px) {
  .rockfork-text-footer {
    white-space: initial;
  }
}
.resumen-text-footer {
  color: var(--white, #fff);
  text-transform: capitalize;
  align-self: stretch;
  margin-top: 14px;
  font: 400 16px 'ColinSamuelsW00Regular', -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .resumen-text-footer {
    max-width: 100%;
  }
}
.copyright-footer {
  color: var(--white, #fff);
  text-transform: capitalize;
  align-self: stretch;
  margin-top: 11px;
  white-space: nowrap;
  font: 400 16px 'ColinSamuelsW00Regular', -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .copyright-footer {
    max-width: 100%;
    white-space: initial;
  }
}
.column-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 32%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-2 {
    width: 100%;
  }
}
.accesos-directos-footer {
  display: flex;
  margin-top: 21px;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991px) {
  .accesos-directos-footer {
    margin-top: 40px;
  }
}
.accesos-directos-1-footer {
  display: flex;
  margin-top: 4px;
  flex-grow: 1;
  flex-basis: 0%;
  flex-direction: column;
}
.menu-footer {
  color: var(--white, #fff);
  text-transform: capitalize;
  white-space: nowrap;
  font: 400 16px 'ColinSamuelsW00Regular', -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .menu-footer {
    white-space: initial;
  }
}
.about-us-footer {
  color: var(--white, #fff);
  text-transform: capitalize;
  margin-top: 30px;
  white-space: nowrap;
  font: 400 16px 'ColinSamuelsW00Regular', -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .about-us-footer {
    white-space: initial;
  }
}
.alergenos-footer {
  color: var(--white, #fff);
  text-transform: capitalize;
  margin-top: 33px;
  white-space: nowrap;
  font: 400 16px 'ColinSamuelsW00Regular', -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .alergenos-footer {
    white-space: initial;
  }
}
.accesos-directos-2-footer {
  display: flex;
  flex-grow: 1;
  flex-basis: 0%;
  flex-direction: column;
}
.privacy-policy-footer {
  color: var(--white, #fff);
  text-transform: capitalize;
  white-space: nowrap;
  font: 400 16px 'ColinSamuelsW00Regular', -apple-system, Roboto, Helvetica,
    sans-serif;
    cursor: pointer;
}
@media (max-width: 991px) {
  .privacy-policy-footer {
    white-space: initial;
  }
}
.faqs-footer {
  color: var(--white, #fff);
  text-transform: capitalize;
  margin-top: 34px;
  white-space: nowrap;
  font: 400 16px 'ColinSamuelsW00Regular', -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .faqs-footer {
    white-space: initial;
  }
}
.column-3 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 26%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-3 {
    width: 100%;
  }
}
.contacto-footer {
  display: flex;
  margin-top: 19px;
  flex-direction: column;
}
@media (max-width: 991px) {
  .contacto-footer {
    margin-top: 40px;
  }
}
.location-footer {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.pin-ubicacion-footer {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
  overflow: hidden;
  max-width: 100%;
}
.texto-ubicacion-footer {
  color: var(--white, #fff);
  text-transform: capitalize;
  align-self: center;
  flex-grow: 1;
  white-space: nowrap;
  margin: auto 0;
  font: 400 16px 'ColinSamuelsW00Regular', -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .texto-ubicacion-footer {
    white-space: initial;
  }
}
.email-footer {
  color: var(--white, #fff);
  text-transform: capitalize;
  align-self: center;
  margin-top: 16px;
  white-space: nowrap;
  font: 400 16px 'ColinSamuelsW00Regular', -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .email-footer {
    white-space: initial;
  }
}
.social-media-footer {
  aspect-ratio: 4.6;
  object-fit: contain;
  object-position: center;
  width: 184px;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  align-self: center;
  margin-top: 79px;
  max-width: 100%;
}
@media (max-width: 991px) {
  .social-media-footer {
    margin-top: 40px;
  }
}

#pag_carta{
    padding-top: 15vh;
    overflow: scroll;
}













/* FOOTER 



footer {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100vw;

  text-align: center;
  padding-left: 15px;
  background-color: #773E22;
}
footer > p{
  font-size: 0.8em;
}


.footer-basic {
    padding:1vmin;
    background-color:#773E22;
    color:#C1A88C;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size: 18px;
    font-size: min(3vmin, 18px);
    line-height:1.6;
    margin-bottom:0;
    display: flex;
    justify-content: center;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:6vmin;
    max-width: 40px;
    height:6vmin;
    max-height: 40px;
    line-height:40px;
    display:inline-block;
    align-items: center;
    justify-content: center;
    text-align:center;
    border-radius:50%;
    border:1px solid #C1A88C;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  */

  .map{
    margin: auto;
    width: 100%;
    height: 100%;
  }
  

  /* GALERIA */
  #image-gallery2 {
    width: 100%;
    padding-bottom: 5vh;
  }
  #zoomed-image,#zoomed-image2 {
    width: 70%;
    max-width: 600px;
    background-color: #fff;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  }
  #thumbnail-container, #thumbnail-container2{
    display: flex;
    justify-content: center;
    margin-top: 2vh;
  }
  .thumbnail, .thumbnail2 {
    width: 10vh;
    margin: 0 2vmin;
    cursor: pointer;
  }
  .thumbnail:hover, .thumbnail2:hover {
    opacity: 0.7;
  }
  
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }

  .footer-basic .icon{
    background-repeat: no-repeat;
    background-size: 75% 75%;
    background-position: center;
  }

  #email_footer{
    background-image: url("../images/gmail.png");
  }

  #instagram{
    background-image: url("../images/instagram-logo.png");
  }

  #facebook{
    background-image: url("../images/facebook.png");
  }

  #phone_footer{
    background-image: url("../images/phone.png");
  }

  .not_mobile{
    display: none;
    overflow:hidden;
  }
  #photo_form{
    height:100vh;
  }

  .contact-info{
    padding:0;
  }

  .contact-info > p {
    padding-left:0;
  }

  .contact-info > h1 {
    font-size: 4vmin;
    color: #773E22;
  }

#contact_form_title{
  font-size: 4vmin;
}

  /* ORDER HTML */
#product-list{
  flex-direction: column;
  padding-bottom: 2vh;
  width: 80%;
}

#product-list > ul{
  width:100%
}

#product-list > ul > li{
  display: flex;
    flex-direction: row;
    align-items: center;
    width:100%;
}

#product-list > ul > li > button{
  margin-left: auto;
  margin-right: 0;
}

#lista-productosUL > li{
    display: flex;
    flex-direction: row;
    align-items: center;
}



#paso-1{
  width:100vw;
}

#paso1-left{
  flex-direction: column;
}

#paso1-right{
  padding-right:5vw;
  padding-left: 5vw;
}


#paso1-right > h2{
  margin-top: 0;
}



#paso-2{
  display: none;
}

#paso2-right{
  padding-top: 5vh;
  flex-direction: column;
}


.tray{
  background-color: #773E22;
  width:100%;
  height:100%;
  margin: auto;
  padding: 2vmin;
  color: #C1A88C;
}

.tray > h2 {
  color:white;
}

#paso2-left > .tray{
  width:80% !important;
}

#productos-en-cesta{
  min-height: 60vh;
}

#total-pagar{
  color:white;
  font-size: 3vmin;
}

#paso-3{
  display: none;
  margin: auto;
  margin-top: 0;
}

.breadcrumb-link{
  color:#30190e;
  font-weight: bolder;
  text-decoration: underline;
}


ul{
  width: 100%;
  list-style-type: none;
}

li{
  padding: 1vmin;
}



.seleccionar, .eliminar{
  width: 7vmin; /* Set the width of the button */
  height: 7vmin; /* Set the height of the button */
  min-height:20px;
  min-width: 20px;
  background-size: contain; /* Ensure the image covers the button */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: center; /* Center the image */
  border: none; /* Remove the button border */
  cursor: pointer; /* Add a pointer cursor on hover */
}




.eliminar{
  background-image: url('../images/eliminar.png'); 
  width:4vmin !important;
  height:4vmin !important;

  float:right;
}


#paso-1 button:hover{
  background-color: #d08662;
}

#paso-1 button.seleccionar,
#paso-1 button.eliminar,
#paso-2 button.eliminar{
  float: right;
}


button.eliminar{
  background-color: #6A0018 !important;
}


button.eliminar:hover{
  background-color: #9b0022 !important;
}



  /* TIMER CSS */

  #timer{
    width: 100%;
    height:100%;
    margin:auto;
  }


  /* RESERVA SATISFACTORIA DE LA MESA */
 
  #reserva-popup-content{
    max-width: 60%;
    position: relative;
  }

  .popup-cross{
    min-width: 20px;
    max-width: 40px; /* Adjust the size of the image as needed */
    width: 5vmin;
    position: absolute;
    top: 1vh; 
    left: 1vw; 
    cursor: pointer;
  }

  #about-us{
    padding-bottom: 10vh;
  }
  





  /* FORMS */
  
  .centerForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:auto;
    margin-top:8formvh;
  }

  .centerFormOrder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:auto;
    margin-top:8formvh;
  }

  #registrationForm{
    height: 80vh;
  }

  #registrationFormPopUp{
    height: 55vh;
    margin: 0;
  }
  #registrationFormPopUp2{
    height: 55vh;
    margin: 0;
  }
  
  .popup-login{
    display: flex;
    flex-direction: row;
  }
  

  .registro-link-popup{
    color: #000000;
    font-weight: bolder;
    text-decoration: underline;
    cursor: pointer;
  }

  #contact{
    padding-top:25px;
  }

  #contactForm{
    height: 40vh;
    margin:auto;
  }

  .form-group {
    width: 100%; /* Adjust the width as needed */
    margin:auto;
    margin-left:0; /* Center the form horizontally */
    padding:2vmin;
  }

  .form-group > label {
    font-size: 3vmin; /* Increase label font size */
  }
  #correo-invitado > p{
    font-weight: 600;
  }

  .form-group > input, 
   #correo-invitado > input{
    background-color: #eee0ce;
    width: 100%;
    height: 6vh;
    font-size: 2vmin;
    padding-left: 2vmin;
  }

  .form-group > textarea {
    background-color: #eee0ce;
    width: 100%;
    height: 4vh;
    font-size: 3vmin;
    padding-left: 2vmin;
  }

  .form-group > button,
  #reservar-mesa > button,
  .popup-content > button{
    background-color: #773E22;
    color: #C1A88C;
    font-size: 3vmin; /* Increase button font size */
    padding: 1vmin 2vmin; /* Increase button padding */
  }

  #reservar-mesa { 
    display: none;
  }

/* For MOBILE PHONE */
[class*="col-"] {
    width: 100%;
}

#pag1 > nav{
  display:None;
}


.popup-labels {
  width: 100%; /* Adjust the width as needed */
  margin:auto;
  margin-left: 4vmin; /* Center the form horizontally */
  padding:2vmin;
  
}

#pagar-pedido{
  margin-top: 5vh;

}

.info-pago  input {
  background-color: #eee0ce;
  width: 100%;
  height: 6vh;
  font-size: 2vmin;
  padding-left: 2vmin;
}

.popup-labels > label,
.popup-mini-labels > label,
.popup-mini-right-labels > label {
  font-size: 9.5vmin; /* Increase label font size */
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .popup-labels > label,
  .popup-mini-labels > label,
  .popup-mini-right-labels > label {
    font-size: 7vmin; /* Increase label font size */
  }
  
}



.form-group > textarea {
  background-color: #eee0ce;
  width: 100%;
  height: 4vh;
  font-size: 3vmin;
  padding-left: 2vmin;
}
.popup-labels > :hover{
  color: ghostwhite;
  border-color: #000;
  border-width: 20cm;
}

.texto-horizontal{
  writing-mode: vertical-rl;  
  text-orientation: mixed;
  position: absolute;
  top: 30%;
  left: 2%;
  margin:auto;
  font-size: 3vmin;
}

.popup-mini-labels {
  width: 100%; /* Adjust the width as needed */
  margin:auto;
  margin-left: 4vmin;
   /* Center the form horizontally */
  padding:2vmin;
  padding-top: 5vmin;

}

.popup-mini-labels > label {
  font-size: 3vmin; /* Increase label font size */
}

.popup-mini-labels > :hover{
  color: ghostwhite;
  border-color: #000;
  border-width: 20cm;
}

.popup-mini-right-labels {
  width: 100%; /* Adjust the width as needed */
  margin:auto;
  margin-left: 0vmin; /* Center the form horizontally */
  padding:2vmin;
  position:absolute;
  left: 30%;
  top: 60%;
}
.popup-mini-right-labels2 {
  width: 100%; /* Adjust the width as needed */
  margin:auto;
  margin-left: 0vmin; /* Center the form horizontally */
  padding:2vmin;
  position:absolute;
  left: 30%;
  top: 55%;
  font-size: 3vmin; /* Increase label font size */

}
.popup-mini-right-labels2 > :hover{
  color: ghostwhite;
  border-color: #000;
  border-width: 20cm;
}


@media screen and (max-width: 767px) {
  .popup-mini-right-labels {
    width: 100%; /* Adjust the width as needed */
    margin:auto;
    margin-left: 4vmin;
    /* Center the form horizontally */
    padding:2vmin;
    padding-top: 5vmin;
    position:absolute;
    left: 3.5%;
    top:55%;
  }
  
}

.popup-mini-right-labels > label {
  font-size: 3vmin; /* Increase label font size */
}

.popup-mini-right-labels > :hover{
  color: ghostwhite;
  border-color: #000;
  border-width: 20cm;
}

/* SLIDER */

.slider {
  height: 100%; /* Set the height of the slider */;
  overflow: hidden; /* Hide the overflow of the slider */
}

.slider img {
  height: 100%; /* Set the height of the images to fill the slider */
  display: block; /* Make the images block elements */
  margin: 0 auto; /* Center the images horizontally */
  animation: slide 35s infinite; /* Set the animation for the slider */
  object-fit:cover;
}
#registrationFormPopUp2 label {
  cursor: pointer;
}


/* LOADER */
.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #C1A88C;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999; /* Set a high z-index to ensure it appears above other elements */
}

.loader {
  display: inline-block;
  animation: spin 5s infinite linear;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader img {
  max-width: 50vmin; /* Adjust the image size as needed */
  width:100%
}



.pagina-special{
  height:100%;
  overflow: hidden;
}
.pagina-special-carta{
  height:100%;
  overflow: auto;
}

.barra-menu{
  display: flex;
  flex-direction: row;
  gap:2px;
  padding-top: 10px;
}

.barra-menu2{
  display: flex;
  flex-direction: row;
  gap:2px;
  width: 65vw;
  padding-top: 10px;
}

.boton-barra-menu{
  height: 35px;
  width: 28vw;
  background-color: #773E22;
  color: #C1A88C;
  font-size: 4vw;
  min-width: 1vw;
}

.boton-barra-menu:hover{
  background-color: #d08662;
}

.boton-barra-menu > p{
  color: #C1A88C
}

.boton-pago{
  background-color: #773E22;
}

.boton-pago > p{
  color: #C1A88C
}

.boton-pago:hover{
  background-color: #c38261;
}

.imagen_novedad{
  min-width: 150px;
  max-width: 450px;
  width:20vw;
  object-fit: cover;
  aspect-ratio: 1/1; /* Formato cuadrado */
}

.imagen_novedad2{
  min-width: 50px;
  max-width: 450px;
  width:20vw;
  object-fit: cover;
  aspect-ratio: 1/1; /* Formato cuadrado */
}

.imagen_novedad3{
  min-width: 30px;
  max-width: 250px;
  width:10vw;
  object-fit: cover;
  aspect-ratio: 1/1; /* Formato cuadrado */
}

.menu_novedad > div{
  background-color: #8ca5c1;
  padding: 10px;
}

#boton-ver-carta-completa{
  height: 7vh;
  margin-top: 5px;
  font-size: 3vw;
  width: 35vmin;
}

#boton-carta-default{
  background-color:#373737;
}

#next_step{
  font-size: 2vw;
  background-color:#373737;
}
#boton-carta-vegana{
  font-size: 3.3vw;
  background-color:#373737;
}

#boton-home{
  margin-left: 15px;
  background-color: #373737;
}
.menu_carta_completa > div{
  background-color: rgb(152, 191, 193);
  padding: 10px;
  margin: auto;
  margin-top:15px;
  width:25vw;
}

.header-carta{
  padding-left:20vw;
}

.info{
  min-width: 2vw;
  min-height: 2vw;
  max-width: 50px;
  max-height: 50px;
  width:2vw;
  object-fit: cover;
  aspect-ratio: 1/1; /* Formato cuadrado */
  cursor: pointer;

}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #C1A88C;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px; 
  width: 100%;
  text-align: center;
  position: relative;
}

.pago{
  display: flex;
  flex-direction: row;
}

.about-us-container{
  padding: 0 5vw;
}

.about-us-content {
  background-color: #773E22;
  border-radius: 10px; /* Adjust the border-radius as needed for rounded corners */
  padding: 20px; /* Adjust padding as needed */
  color:white;
  height: 60%;
}

#text-about-us {
  margin-top: 10px; /* Adjust as needed to create space between the text and the container edges */
  color: #C1A88C;
}

.burger-about-us {
  aspect-ratio: 1.43;
  object-fit: contain;
  object-position: center;
  width: 100%;
  padding: 2vmin;
 }

  #about-us{
    overflow: visible;
  }
  #reservar-mesa-button{
    cursor: pointer;
  }

#a_la_carta{
  font-size: 3vw;
  width:30vw;
  height: 35px;
}

.boton-inicio-box{
  height: 35px;
  width: 20vw;
  background-color: #773E22;
  color: #C1A88C;
  font-size: 3vw;
  min-width: 1vw;
}


.mini_images{
  display: flex;
}

.new{
  min-width: 2vw;
  min-height: 2vw;
  max-width: 50px;
  max-height: 50px;
  width:2vw;
  object-fit: cover;
  aspect-ratio: 1/1; /* Formato cuadrado */
  cursor: pointer;
  margin-left: 10px;
}

.boton-revisión{
  height: 10vh;
  width: 48vw;
  background-color: #773E22;
  color: #C1A88C;
  font-size: 5vw;
  min-width: 1vw;
  margin-bottom: 15px;
}

.boton-inicio{
  display: flex;
  flex-direction: row;
  background-color: #773E22;
  justify-content: center;
  align-items: center; 
}

#boton-barra-Burgers-vegano{
  font-size: 2.5vw;
}

/*######################################################################################################################*/
/*######################################################################################################################*/
/*######################################################################################################################*/
/*######################################################################################################################*/
@keyframes slide {
  0% {
    transform: translateY(0); /* Start the animation at the top */
  }
  100% {
    transform: translateY(-600vh); /* End the animation at the bottom */
  }
}


/*COLUMNAS*/

@media only screen and (min-width: 600px) and (max-width: 767px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    #boton-carta-vegana{
      font-size: 90%;
    }
    #next_step{
      font-size:80%;
    }
    #boton-barra-Burgers-vegano{
      font-size: 2vw;
    }
    .boton-revisión{
      height: 15vh;
      width: 50vw;
      background-color: #773E22;
      color: #C1A88C;
      font-size: 5vw;
      min-width: 1vw;
      margin-bottom: 15px;
    }

    #boton-ver-carta-completa{
      height: 7vh;
      margin-top: 5px;
      font-size: 100%;
    }
    .video_container{
      padding-top:0;
      margin:auto;
      padding-bottom: 6vh;
    }

    #pag1 > nav{
      /*Mostrar el menú principal*/
      display: flex;
    }

    #pag2{
      display: flex;
      flex-direction: column;
    }

    .top-nav{
      display: none;
    }

    .photo{
      width:30vw;
      min-width: 100px;
      max-width: 160px;
    }

    #image_1{
      width:15vw;
      margin:auto;
      padding-left: 6vh;
    }
    .not_mobile{
      display: None;
    }

    .main-image{
      padding-top: 6vh;
    }
    
    .boton-barra-menu{
      height: 35px;
      width: 12vw;
      background-color: #773E22;
      color: #C1A88C;
      font-size: 2vw;
      min-width: 1vw;
    }
    

}
@media only screen and (min-width: 768px) {
    /* For Desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    #boton-barra-Burgers-vegano{
      font-size: 1.4vw;
    }

    #a_la_carta{
      font-size: 3vw;
      width:30vw;
      height: 55px;
    }

    .boton-revisión{
      height: 30vh;
      width: 28vw;
      background-color: #773E22;
      color: #C1A88C;
      font-size: 4vw;
      min-width: 1vw;
      margin-bottom: 15px;
    }

    .boton-inicio-box{
      height: 50px;
        width: 14vw;
        background-color: #773E22;
        color: #C1A88C;
        font-size: 2vw;
        min-width: 1vw;
      }
      #a_la_carta{
        font-size: 2vw;
        width:20vw;
      }
    .boton-barra-menu{
      height: 50px;
      width: 12vw;
      color: #C1A88C;
      font-size: 1.8vw;
      min-width: 1vw;
    }


    .video_container{
      padding-top:0;
      padding-bottom: 6vh;
    }
    #next_step{
      font-size: 100%;
    }
    #boton-carta-vegana{
      font-size: 130%;
    }
    #boton-ver-carta-completa{
      height: 7vh;
      margin-top: 5px;
      font-size: 1.4vw;
    }
    #reservar-mesa{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    #pag1 > nav{
      /*Mostrar el menú principal*/
      display: flex;
    }

    p {
      font-size: 3vmin;
    }

    .top-nav{
      display: none;
    }
    
    #contact{
      padding-top:0px;
    }

    .slider {
      height: 100vh; /* Set the height of the slider */;
      overflow: hidden; /* Hide the overflow of the slider */
    }

    .menu{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .menu_novedad{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .menu_carta_completa{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    

    .plate{
      display: block;
      font-weight: bold;
      font-style: italic;
      font-size:1.5vw;
    }
    
    .description{
      display:block;
      font-size: 1.25vw;
    }
    
    .photo {
      margin: 10px;
      border: 3px solid rgb(255, 255, 255);
      min-width: 100px;
      max-width: 170px;
      width:15vw;
      object-fit: cover;
      aspect-ratio: 1/1; /* Formato cuadrado */
    }

    
    
    .main-image{
        display: flex;
        flex-direction: row;
        padding-top: 6vh;
        height: 100%;
        width:100%;
        flex:1;
    }


   



    .title{
      flex-grow: 0.4;
      margin:0;
    }
   

    
    .pagina-special{
      height:100%;
      width: 100%;
      
      overflow: hidden;
    }
    .pagina-special-carta{
      height:100vh;
      
      overflow: auto;
    }
    

    .flex-container {
      align-content: center;
      flex-direction: row;
  }
    .flex-container > div {
      margin: 0;
      text-align: center;
      width:25vw;
      line-height: 20vh;
      font-size: 8vmin;
  }

  


  .not_mobile{
    display: block;
  }

}

/*A partir de aquí, creamos varias media queries para tamaños con los cuales nuestro diseño se desordena tanto que son necesarias
estas media queries*/


/* Small PC */
@media only screen and (max-width: 1170px) and (min-width:768px){

  .main-image{
    display: flex;
    flex-direction: column;
    padding-top: 6vh;
    height: 100%;
    flex:1;
}

#reservar-mesa { 
  display: none;
}

  .video_container{
    padding-top:0;
    margin:auto;
    padding-bottom: 6vh;
  }

  .flex-container > div {
    width:25vw;
    font-size: 8vmin;
}

  #pag1 > nav{
    /*Mostrar el menú principal*/
    display: flex;
  }

  .description{
    display:none;
  }
  
  

  h3{
    font-size: 4vw;
  }

  .plate{
    font-size: 3vw;
  }

 
  .not_mobile{
    display: block;
  }


  .photo {
    border: 3px solid rgb(255, 255, 255);
    min-width: 110px;
    width:15vw;
    max-width: 130px;
  }

}

@media only screen and (min-width: 325px) and (max-width: 625px) {
  /* For mobiles between 325 and 565 where a new media query is required: */
  #pag3 .photo {
    /* Your styles for .photo inside #pag3 and .galeria-1 go here */
    border: 3px solid white;
    min-width: 50px;
    width:32vw;
    max-width: 230px;
    
  }
  .menu{
    flex-direction: row;
    padding-top: 1vh;
  }
  .menu_novedad{
    flex-direction: row;
    padding-top: 1vh;
  }
  .menu_carta_completa{
    flex-direction: row;
    padding-top: 1vh;
  }
}

